{% include 'alexadashcams/navbar2.html' %}
{% load crispy_forms_tags %}
{% load static %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm" style="width: 70rem;">
        <div class="card-body p-5">
                <p class="p-2 border-bottom-1 shadow-sm" id="LinkDirection">
                    <a href="/" class=" text-dark ">HOME </a><i class="bi bi-caret-right-fill px-1 "></i> 
                    <a href="/profile" class="text-dark"> MY ACCOUNT</a><i class="bi bi-caret-right-fill px-1"></i>
                    <a href="#" class="text-dark"></a>
                </p>

            <div class="row pt-3">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-white border-right border-1 rounded pb-3 sidebar collapse">
                    <div class="position-sticky pt-3">
                    <div class="d-flex flex-column flex-shrink-0 bg-white">
                        
                        <h3 class="pb-2 border-bottom fs-5">MY ACCOUNT</h3>
                    
                        <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-person-circle "></i> 
                            <span class="ps-4">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link link-dark" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false"><i class="bi bi-pencil-fill"></i> <span class="ps-4">
                        Edit Profile</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="nav-link link-dark" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="bi bi-collection-fill"></i><span class="ps-4">
                            Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false"><i class="bi bi-file-arrow-down-fill"></i><span class="ps-4">
                            Saved Items </span>
                            </a>
                        </li>
                        </ul>
                        <hr>
                    </div>
                    </div>
                </nav>

                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4  pt-3">
                        <!-- Tab panes -->
                        <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="card shadow-sm mb-3" style="max-width: 540px;">                                         <div class="card-header">PROFILE</div>
                                        <div class="row g-0">
                                            <div class="col-md-4">


                                            <img src="{% static 'alexadashcams/images/alexadashcam_prof_pic.jpg' %}" class="img-fluid rounded-start" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                            <div class="card-body">
                                                <h3 class="card-title fs-5 text-uppercase">{{ user.username }} </h3>
                                                <p class="card-text fw-bold fs-6">{{ user.email }} </p>
                                                <p class="card-text"><small class="text-muted">Last login: {{ user.last_login }}</small></p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                <div class="card  shadow-sm mb-3" style="max-width: 18rem;">
                                <div class="card-header">ADDRESS</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                </div>
                                </div>
                            </div>


                        </div>

                        <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="card shadow-sm mb-3" style="max-width: 540px;"> 
                                        <div class="card-header">UPDATE PROFILE</div>
                                            <div class="p-3">
                                                <form method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <fieldset class="form-group">
                                                        
                                                        {{ u_form|crispy }}
                                                    </fieldset>
                                                    <div class="form-group">
                                                        <button class="btn btn-outline-dark" type="submit">Update </button>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                <div class="card  shadow-sm mb-3" style="max-width: 18rem;">
                                <div class="card-header">ADDRESS</div>
                                <div class="card-body">
                                    <h5 class="card-title">Primary card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">@include('posts.create')</div>
                        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">Orders</div>
                        </div>  
                    </main>
            </div>
        </div>
    </div>
</div>






