{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>ALEXADASHCAMS</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'alexadashcams/style.css' %}">
    
  
</head>
<body onload="typeWriter()"  class="bg-white">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
        {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light py-4 shadow-sm" id="NavbarTwo" style="position:relative">
        <div class="container-fluid">
          <a class="navbar-brand" id="NavbarBrand2"href="/"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-filter-right" id="ToggleButton"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">            
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item pt-2" >
                        <a href="/#Products"class="nav-link">
                         PRODUCTS
                        </a>
                    </li>
                    <li class="nav-item pt-2">
                        <a class="nav-link">
                         PARTNERS
                        </a>
                    </li>
                    <li class="nav-item pt-2 pe-4">
                        <a class="nav-link">
                         ABOUT US
                        </a>
                    </li>
                    <form class="d-flex pt-2">
                        <input class="form-control me-2" id="SearchBar" type="search" placeholder="Search Products" aria-label="Search">
                        <i class="bi bi-search" id="NavIconApp"></i>
                        
                    </form>
                    <li class="nav-item">
                        <a href="/cart/cart-detail/"class="nav-link">
                            <i class="bi bi-bag position-relative" id="NavIconApp">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                                   {{request.session.cart|length}}
                                </span>
                            </i>
                        </a>
                    </li>
                    {% if user.is_authenticated %}   
                        <li class="nav-item">
                            <a href="{% url 'logout' %}"class="nav-link">
                                Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}"class="nav-link">
                                Profile
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'login' %}"class="nav-link">
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'register' %}"class="nav-link">
                                Register
                            </a>
                        </li>
                    {% endif %}
                   
                </ul>
          </div>
        </div>
    </nav>
           
  
    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

  {% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>  {% endcomment %}
    
</body>
</html>
