/* // Start of app */
.navbar{
  position: absolute;
  width: 100%;
  z-index: 2;

}
body{
    background-color: #e1b040;
}
.navbar-brand{
  background-image: url("/static/alexadashcams/images/alexa-dashcam-logo-B.png");
  width:175px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#SearchBar{
 border-radius: 0rem;
 text-align: right;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-style: italic;
 font-size: 11px;
 padding: 1.2rem 0rem;
 color: rgb(255, 255, 255);
 background-color: transparent;
}
 #SearchBar:focus{
  border-color: #d8d8d8;
  box-shadow: 0 0 0 0.25rem #c5c5c521;
}
 .d-flex i {
  position: absolute;
}
.bi.bi-search{
  padding: 10px 15px 15px 15px;
  color: rgb(255, 255, 255);
  width: 70px;
  text-align: left;
  font-size: 1.2rem;
}
.bi.bi-bag,.bi.bi-person{
  font-size: 27px;
  color: rgb(255, 255, 255);
}
.badge{
  font-size: 50%;
  background-color: #28286f;
}

.nav-link{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}
#NavbarBrand2{
  background-image: url("/static/alexadashcams/images/alexa-dashcam-logo.png");
  width:175px;
  height:50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#NavIconApp, #NavIconAppTwo{
  color: #1a1a1a !important;
}
/* // End of App

// Start of Slider */
#carouselExampleIndicators{
  z-index: 1;
}
/* // End of Slider

// Start of Index */
h4, h3, caption{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #28286f;
}
.container i{
  color: #28286f;
}
.container-fluid i{
  color: #28286f;
}
h6, p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  color: rgb(119, 119, 119);
}
/* // Start of product grid */
  .ProductImages{
  height: 230px;
  object-fit: cover;
  }
  .card{
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  }

  h5{
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #1a1a1a;
  }
  h5:hover{
    color: #28286f;
  }
  .btn{
  padding: 5px 25px;
  margin-top: 10px;
  }
  @media(max-width: 768px){
  img{
  height: 100%;
  }
  #CartImage{
    width:100%;
  }
  }
  @media(max-width: 575px){
  .container{
  width: 90%;
  }
  #CartImage{
    width:40%;
  }
  }
  .ProductImages{

    transition: 0.5s all ease-in-out;
  }
  
  .ProductImages:hover{
    transform: scale(0.9);
  }
/* // End of Product Grid */

#Hero{
  background-image: url("/static/alexadashcams/images/highway-surrounded-by-hills-cloudy-sky.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ButtonOne{
  border-radius: 0%;
}
.buy-1{
  background-color: whitesmoke;
      text-align: center;
      width: 100%;
      padding: 12px 15px;
      border:0px;
      outline: none;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #1a1a1a;
      }
.buy-1:hover{
  background-color: #28286f;
  color: white;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(139, 139, 139, 0.1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.jumbotron-fluid{
  background-color: #f4f4f2!important;
}

/* // End of Index

// Start of login */
#AccountsContainer, #ShowContainer{
  padding-top: 1rem;
}
/* // End of Login

// start of homelayout */
#sidebarMenu a{
  color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
#sidebarMenu{
  background-color: rgb(255, 255, 255) !important;
}
/* // Start of quick reports */
#QRBar {
  background-color: #e1b040;
}
h2{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
}
/* // End of Quick Reports */

.table th {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  background-color: #28286f !important;
}
.table td {
  color: #1a1a1a;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.btn-outline-dark{
  border-radius: 0%;
  border-color: #1a1a1a;
}
.btn-outline-danger{
  border-radius: 0%;
}
.btn-outline-dark:hover{
  background-color: #28286f;
  border-radius: 0%;
  border-color: #28286f;
}
#NavbarTwo{
  background-color: white;
}
/* //sidebar start */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #28286f !important;
  
}
.nav-pills .nav-link{
  border-radius: 0%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link span{
  color: white !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link i{
  color: white !important;
}
/* // end of side bar
// end of homelayout */

/* // start of show */
#LinkDirection a{
  color: #28286f !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
}
.ProductBrand{
  color:#777777;
}
.ProductPrice{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
  font-style: normal;
  color: rgb(0, 0, 0) !important;
}
.ProductFeatures{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
  color: #28286f !important;
}
/* // end of show */

/* 
// start of create */
img {
  display: block;
  max-width: 100%;
  }
  .preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 10px;
  border: 1px solid red;
  }
  .modal-lg{
  max-width: 1000px !important;
  }
/* // end of create */


body{
  background-color: red;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* start of sign in */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* end of sign in */



 /* shopping cart  */
 * {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #E0E0E0;
  color: #000000
}

ul {
  list-style: none;
  margin-bottom: 0px
}

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px
}

.button:hover {
  opacity: 0.8
}

.cart_section {
  width: 100%;

}

.cart_title {
  font-size: 30px;
  font-weight: 500
}

.cart_items {
  margin-top: 8px
}

.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px
}

.cart_item_image {
  width: 133px;
  height: 133px;
  float: left
}

.cart_item_image img {
  max-width: 100%
}

.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px
}

.cart_item_name {
  margin-left: 7.53%
}

.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
  font-size: 18px;
  margin-top: 35px
}

.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px)
}

.cart_item_price {
  text-align: right
}

.cart_item_total {
  text-align: right
}

.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff
}

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px
}

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px
}

.cart_buttons {
  margin-top: 60px;
  text-align: right
}

.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px
}

.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4
}

.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top
}
 /* shopping cart  */